.vimeo-video {
	padding: 0px;
	width: 70%;
}

.showreel-wrapper {
	width: fit-content;
	padding: 20px;
}

.video-wrapper {
	padding: 0px;
}

#showreel-tabs {
	width: 60%;
}

.main_video {
	padding-bottom: 20px;
	width: 400px;
}

.tabs {
	list-style: none;
	padding: 0px;
}

.tab {
	display: inline;
	float: left;
	padding: 0px;
	padding: 5px;
}
