.showreelWrapper {
	width: fit-content;
	border: 1px solid black;
	padding: 20px;
}

.main_video {
	padding-bottom: 20px;
	width: 400px;
}

.tabs {
	list-style: none;
	padding: 0px;
}

.tab {
	display: inline;
	float: left;
	padding: 0px;
	padding: 5px;
}
